[Desktop Entry]
Type=Application
Name=hweb
GenericName=Web Browser
Comment=Vim-like WebKitGTK browser
Exec=hweb %u
Icon=web-browser
Terminal=false
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/about;
StartupWMClass=hweb
